.button {
  /* I changed the width for the form block button element */
  background-color: #212121;
  color: #fcf5e5;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.button:hover:not(:disabled) {
  opacity: 0.8;
}
