.modal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 33, 33, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
  padding-inline: 10px;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
}

.modal__container {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  /* The figma design says 12px for mobile and 50px for desktop for me
  I included screenshots in the image folder. */
  padding-inline: clamp(12px, 2.5vw, 50px);
  padding-block: clamp(22px, 2.5vw, 32px) clamp(12px, 2.5vw, 32px);
  border-radius: 8px;
  width: min(100%, 730px);
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: stretch;
  justify-content: center;
  gap: 36px;
}

.modal__container_role_delete-post {
  gap: 32px;
  align-items: center;
  padding: clamp(12px, 2.5vw, 32px) clamp(12px, 2.5vw, 20px);
}

.modal__heading {
  margin: 0;
  font-weight: 500;
  font-size: clamp(20px, 2.5vw, 32px);
  line-height: 1;
  align-self: flex-start;
}

.modal__heading_size_small {
  font-size: clamp(20px, 2.5vw, 24px);
  align-self: center;
  text-align: center;
}

.modal__close-btn_form {
  position: absolute;
  top: clamp(22px, 2.5vw, 32px);
  right: clamp(12px, 2.5vw, 32px);
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  transition: opacity 0.3s ease-in;
  cursor: pointer;
}

.modal__close-btn_form:hover {
  opacity: 1;
}

.modal_type_preview {
  padding-inline: 16px;
}

.modal__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  position: relative;
  gap: 8px;
}

.modal__wrapper_delete-post {
  color: transparent;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  width: 100%;
  object-fit: contain;
  display: block;
}

.modal__close-btn_preview {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
  top: 0;
  right: -52.5px;
  padding: 0;
  width: 40px;
  height: 40px;
  transition: 0.3s ease;
}

.modal__close-btn_preview:hover {
  opacity: 0.4;
}

.modal__caption {
  font-size: clamp(16px, 2.5vw, 20px);
  font-weight: 500;
  line-height: 1.2;
  padding: 4px 8px;
  background-color: rgba(33, 33, 33, 1);
  border-radius: 8px;
  margin: 0;
}

.modal__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.modal__button {
  width: 156px;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  padding: 18px 32px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.modal__button:hover {
  opacity: 1;
}

.modal__button_type_delete {
  background-color: rgba(255, 101, 101, 1);
  color: rgba(33, 33, 33, 1);
  transition: background-color 0.3s ease;
}

.modal__button_type_delete:hover {
  background-color: rgba(255, 51, 51, 1);
}

.modal__button_type_cancel {
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 1);
  color: rgba(33, 33, 33, 1);
}

.modal__button_type_cancel:hover {
  background-color: rgba(33, 33, 33, 1);
  color: white;
}

@media screen and (max-width: 768px) {
  .modal__container {
    gap: 32px;
  }

  .modal__container_role_delete-post {
    gap: 20px;
  }

  .modal__close-btn_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: none;
  }

  .modal__controls {
    gap: 12px;
  }
}

@media screen and (max-width: 860px) {
  .modal__close-btn_delete {
    top: -48px;
    right: 0;
  }
}
