.profile {
  padding-block: 34px 20px;
  border-bottom: 1px solid #21212166;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1;
}

.profile__content {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.profile__avatar-wrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1 / 1;
  max-width: 190px;
}

.profile__avatar-wrapper:hover .profile__edit-avatar-button {
  opacity: 1;
}

.profile__avatar {
  max-width: 100%;
}

.profile__edit-avatar-button {
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  transition: 0.3s ease;
  opacity: 0;
  padding: clamp(4px, 2.5vw, 12px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  gap: 8px;
}

.profile__edit-avatar-button::after {
  content: 'Edit Avatar';
  font-weight: 500;
}

.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  align-items: flex-start;
  align-self: stretch;
}

.profile__name {
  margin: 0;
  font-size: 32px;
  line-height: 1;
  color: #212121;
  display: -webkit-box;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__bio {
  margin: 0;
  color: #212121b3;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #212121;
  background-color: transparent;
  opacity: 0.7;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  margin-top: auto;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
}

.profile__edit-button:hover {
  opacity: 1;
}

.profile__post-button {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-block-start: 20px;
  }

  .profile__avatar-wrapper {
    width: 80px;
  }

  .profile__edit-avatar-button {
    background-color: rgba(33, 33, 33, 0.6);
    width: 23.34px;
    height: 23.34px;
    border-radius: 6px;
    top: auto;
    left: auto;
    right: 4.66px;
    bottom: 4.66px;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .profile__edit-avatar-button::after {
    content: none;
  }

  .profile__content {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .profile__info {
    align-items: center;
    gap: 0;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
  }

  .profile__bio {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 36px;
    text-align: center;
  }

  .profile__edit-button {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .profile__post-button {
    align-self: stretch;
  }
}
